<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/detalles.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <h2>Detalles</h2>
        <div class="carrito">
            <a href="../index.html"><i class='bx bx-x'></i></a>
        </div>
    </header>
    <main>
        <div class="detalles__lista">
            <section class="detalles__product">
                <article class="detalles__product__images">
                    <img src="../storage/img/black__short.webp" alt="">
                </article>
                <article class="detalles__product__info">
                    <h2 class="detalles__product__name">Nombre del producto</h2>
                    <div class="detalles__precio">
                        <div><p>5</p></div>
                        <h3 class="detalles__product__precio1">$100.000</h3>
                        <h4 class="detalles__product__precio2">$99.99</h4>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </article>
            </section>
            <section class="detalles__product">
                <article class="detalles__product__images">
                    <div class="detalles__image__main">
                        <img src="../storage/img/light-blue_short.webp" alt="">
                    </div>
                </article>
                <article class="detalles__product__info">
                    <h2 class="detalles__product__name">Nombre del producto</h2>
                    <div class="detalles__precio">
                        <div><p>5</p></div>
                        <h3 class="detalles__product__precio1">$100.000</h3>
                        <h4 class="detalles__product__precio2">$99.99</h4>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </article>
            </section>
            <section class="detalles__product">
                <article class="detalles__product__images">
                    <div class="detalles__image__main">
                        <img src="../storage/img/off-white__short.webp" alt="">
                    </div>
                </article>
                <article class="detalles__product__info">
                    <h2 class="detalles__product__name">Nombre del producto</h2>
                    <div class="detalles__precio">
                        <div><p>5</p></div>
                        <h3 class="detalles__product__precio1">$100.000</h3>
                        <h4 class="detalles__product__precio2">$99.99</h4>
                    </div>
                    <i class='bx bxs-trash-alt' ></i>
                </article>
            </section>
        </div>
        <div class="detalles__total">
            <h2>Total</h2>
            <div>
                <h2>$1.999.8</h2>
                <button class="total__button">Pagar</button>
            </div>
        </div>
    </main>
</body>
</html>